<h1>Avatari - <%=@current_user.fullname%></h1>

<%= render :partial => "individuals/svg_avatar", :individual => @current_user %>
<%= render :partial => "individuals/stats", :individual => @current_user %>
<%= render :partial => "individuals/fashion_description", :individual => @current_user %>
