<h1>Session#login</h1>
<form action="/session/auth" method='POST'>
  <input type='text' id='usernam' name='username' />
  <input type='text' id='password' name='password' />
  <input type='submit' />
</form>
<%= session[:indivudal_id] %>
