// Place all the styles related to the Avatars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
svg {
  background-color:white;
  border-radius:5px;
  margin:15px;
}