// Place all the styles related to the Shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#chests ul li {
    display:inline-block;
    a {
      text-decoration:none;
    }
    a:hover div div {
      text-decoration:none;
      color:red;
      background-color:#eeee22;      
    }
}
.chest{
  margin:10px;
  .chestTop {
    background-color:yellow;
    width:50px;
    height:10px;
    border-radius:2px;
    border-color:gray;
    border-width:3px;
    border-style:outset;
  }
  .chestBottom {
    background-color:yellow;
    width:50px;
    height:30px;
    border-radius:2px;
    border-color:gray;
    border-width:3px;
    border-style:outset;
    text-align:center;
    font-weight:bold;
  }
}



